
$bodyBGcolor: #060918;
$bodyTextcolor: #ffffff;

//font family
$font1: "DM Sans", sans-serif;
$font2: "Space Grotesk", sans-serif;

//themecolor
$thememainbgcolor: #00beff;
$thememaintextcolor: #3ab5d1;
$themegradient: linear-gradient(270deg, #7bb5f3, #26b9ab);
$btngradient: linear-gradient(98deg, rgba(2, 176, 155, 0.38), rgba(90, 137, 253, 0.18));
$themetextlight: #96a7a1;
$themetextdull: rgba(255, 255, 255, 0.8);

//border
$btnborderlight: 1px solid rgba(255, 255, 255, 0.18);
$borderlight: 1px solid rgba(255, 255, 255, 0.1);